@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.note {
    @include mixins.mobile-card;

    // &__label {
    //     font-size: 1rem;
    //     font-weight: 700;
    // }

    &__icons {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 1rem;
    }
}