@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.list {
    font-size: 0.75rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    // &__label {
    //     font-size: 1rem;
    //     font-weight: 700;
    // }

    &__content {
        padding: 0 1rem;
    }

    &__group {
        display: flex;
        align-items: flex-start;
    }

    &__item {
        padding: 0 1rem 0.5rem 0.5rem;
        list-style-type: none;
        // list-style-image: url('../../assets/icons/check_box_empty.svg');

        // &--checked {
        //     list-style-image: url('../../assets/icons/check_box_filled.svg');
        // }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 1rem;
    }
}