@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.list {
    @include mixins.mobile-card;
    background-color: white;
    opacity: 1;

    @include mixins.tablet {
        @include mixins.tablet-card;
        margin-right: 2rem;
    }
    
    &__label {
        font-size: 0.85rem;
        font-weight: 700;
        padding-bottom: 0.25rem;
        border-bottom: 4px solid colors.$primary-color;
    }

    &__date {
        font-weight: 700;
    }

    &__content {
        padding: 1rem 0;
        margin-bottom: 0;
    }

    &__check-all {
        @include mixins.button;
        padding: 0.5rem 0;
        background-color: colors.$primary-grey;
        color: colors.$primary-black;

        &:hover {
            background-color: colors.$primary-color;
            color: colors.$primary-white;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 1rem;
        margin-top: 1rem;
    }
}