$primary-white: #FFFFFF;
$primary-black: #000000;
$primary-grey: #AFAFAF;
$secondary-grey: #FAFAFA;
$primary-grey-lighter: #E1E1E1;
$primary-color: #007FFF;
$primary-color-darker: #000080; 
$error: #D22D2D;
$success: #228B22;