@use './colors';
@use './screens';
@use './fonts';
@use './variables';


@mixin mobile-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin tablet-heading {
    font-size: 2rem;
    font-weight: 700;
}

@mixin mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

@mixin mobile-card {
    font-size: 0.75rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.3s;

    &:hover {
        transform: variables.$scale-smaller;
        cursor: pointer;
    }
}

@mixin tablet-card {
    font-family: 'Lora';
    font-size: 0.85rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.3s;
    width: 12.5rem;
    height: fit-content;

    &:hover {
        transform: variables.$scale-smaller;
        cursor: pointer;
    }
}

@mixin input {
    font-family: 'Jost';
    border: 1px solid colors.$primary-grey;
    border-radius: 4px;
    outline: none;
    padding: 0.5rem;

    &:focus {
        border: 2px solid colors.$primary-color;
    }

    &::placeholder {
        color: colors.$primary-grey;
    }

    &--error {
        border: 2px solid colors.$error;
    }
}

@mixin textarea {
    font-family: 'Jost';
    border: 1px solid colors.$primary-grey;
    border-radius: 4px;
    resize: none;
    outline: none;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.5rem 10rem 0.5rem;
    // padding: 2rem;
    
    &:focus {
        border: 2px solid colors.$primary-color;
    }

    &::placeholder {
        color: colors.$primary-grey;
    }

    &--error {
        border: 2px solid colors.$error;
    }
}

@mixin button {
    font-family: "Jost";
    border: none;
    border-radius: 4px;
    font-weight: 700;   
    width: 100%;
    color: colors.$primary-white;
    background-color: colors.$primary-color;
    
    &:hover {
        background-color: colors.$primary-black;
    }
}

@mixin validation {
    font-size: 0.75rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    text-align: center;
}

@mixin tablet {
    @media (min-width: screens.$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: screens.$desktop-breakpoint) {
        @content;
    }
}
