@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';
@use '../../styles/partials/fonts';

.detail {
    @include mixins.mobile-card;
    background-color: white;
    opacity: 1;

    @include mixins.tablet {
        @include mixins.tablet-card;
        width: 14rem;
    }

    &__label {
        font-size: 0.85rem;
        font-weight: 700;
        padding-bottom: 0.25rem;
        border-bottom: 4px solid colors.$primary-color;
    }

    &__date {
        font-weight: 700;
    }

    &__content {
        padding: 1rem 0;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 1rem;
    }

    &--dragging {
        opacity: 0;
    }
}