@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

.details {
    &__container {
        @include mixins.tablet {
            display: flex;
            flex-wrap: wrap;
            align-content: space-evenly;
        }
    }
}