@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.header {

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        width: 2rem;
    }

    &__search {
        width: 2rem;
    }

    // &__greeting {
        
    // }

    // &__date {
        
    // }
}