@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.header {

    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }

    &__menu {
        width: 1.5rem;

        @include mixins.desktop {
            width: 2rem;
        }
    }

    &__search {
        width: 1.5rem;

        @include mixins.desktop {
            width: 2rem;
        }
    }

    &__title {
        @include mixins.tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__greeting {
        font-size: 1rem;

        @include mixins.desktop {
            font-size: 1.5rem;
        }
    }

    &__date {
        font-size: 0.75rem;

        @include mixins.desktop {
            font-size: 1.2rem;
        }
    }
}