@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

.lists {

    &__nav {
        @include mixins.mobile-nav;
    }

    &__link {
        text-decoration: none;
    }

    &__back {
        width: 1.5rem;
        transition: transform 0.3s;

        &:hover {
            transform: variables.$scale;
            cursor: pointer;
        }
    }

    &__add {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    &__add-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        padding: 0.5rem;
        // width: 2.5rem;
        color: colors.$primary-white;
        background-color: colors.$primary-color;
        margin: 0;
        border-radius: 4px;

        &:hover {
            background-color: colors.$primary-color-darker;
            cursor: pointer;
        }
    }

    &__container {
        @include mixins.tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-evenly;
        }
    }
}